[Unit]
Description=Apache htcache cleaner
After=apache2.service

[Service]
Type=simple
Nice=6
User=www-data
Environment=HTCACHECLEAN_PATH=/var/cache/apache2/mod_cache_disk
EnvironmentFile=-/etc/default/apache-htcacheclean
ExecStart=/usr/local/bin/fasthtcacheclean -p $HTCACHECLEAN_PATH -f 20% -F 5%
