[Unit]
Description=Clean Apache Disk Cache every 15 minutes
Conflicts=apache-htcacheclean.service

[Timer]
OnBootSec=15min
OnUnitInactiveSec=15min
Persistent=true

[Install]
WantedBy=timers.target

